<div class="row gx-5 pb-5">
  <h4 class="text-center">Register with us</h4>
</div>
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="row gx-1">
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="CustomerName"
          >Customer Name: <span
          class=" text-danger"
          *ngIf="
            CustomerName.invalid && (CustomerName.dirty || CustomerName.touched)
          "
        >
          <span class=" text-danger" *ngIf="CustomerName.errors?.required">
            This Field is required.
          </span>
          <span *ngIf="CustomerName.errors?.minlength">
            This Field must be at least 4 characters long.
          </span>
          <!-- <span *ngIf="CustomerName.errors?.forbiddenName">
            CustomerName cannot be Bob.
          </span> -->
        </span></label
        >
        <input
          class="form-control"
          type="text"
          id="CustomerName"
          formControlName="CustomerName"
        />

      </div>
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="BusinessName"
          >Business-Name: <span
          class=" text-danger"
          *ngIf="
            BusinessName.invalid && (BusinessName.dirty || BusinessName.touched)
          "
        >
          <span class=" text-danger" *ngIf="BusinessName.errors?.required">
            This Field is required
          </span>
          <span *ngIf="BusinessName.errors?.minlength">
            This must be at least 4 characters long.
          </span>
          <span *ngIf="BusinessName.errors?.forbiddenName">
            This cannot be Bob.
          </span>
        </span></label
        >
        <input
          class="form-control"
          type="text"
          id="BusinessName"
          formControlName="BusinessName"
        />

      </div>
    </div>
    <div class="row gx-1">
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="BankName">Bank Name: <span
          class=" text-danger"
          *ngIf="BankName.invalid && (BankName.dirty || BankName.touched)"
        >
          <span class=" text-danger" *ngIf="BankName.errors?.required">
            This Field is required.
          </span>
          <span *ngIf="BankName.errors?.minlength">
            This Field must be at least 4 characters long.
          </span>
          <span *ngIf="BankName.errors?.forbiddenName">
            This Field cannot be Bob.
          </span>
        </span></label>
        <input
          class="form-control"
          type="text"
          id="BankName"
          formControlName="BankName"
        />

      </div>
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="AccountNumber"
          >Account-Number:
          <span
            class="text-danger"
            *ngIf="
              AccountNumber.invalid &&
              (AccountNumber.dirty || AccountNumber.touched)
            "
          >
            <span class="text-danger" *ngIf="AccountNumber.errors?.required">
              This Field is required.
            </span>
            <span *ngIf="AccountNumber.errors?.minlength">
              This Field must be at least 4 characters long.
            </span>
            <span *ngIf="AccountNumber.errors?.forbiddenName">
              This Field cannot be Bob.
            </span>
          </span></label
        >
        <input
          class="form-control"
          type="number"
          id="AccountNumber"
          formControlName="AccountNumber"
        />
      </div>
    </div>
    <div class="row gx-1">
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="MobileNumber"
          >Mobile-Number#
          <span
            class="text-danger"
            *ngIf="
              MobileNumber.invalid &&
              (MobileNumber.dirty || MobileNumber.touched)
            "
          >
            <span class="text-danger" *ngIf="MobileNumber.errors?.required">
              This Field is required.
            </span>
            <span class="text-danger" *ngIf="MobileNumber.errors?.minlength">
              This Field must be at least 11 characters long.
            </span>
          </span></label
        >
        <input
          class="form-control"
          type="number"
          id="MobileNumber"
          formControlName="MobileNo"
        />
      </div>

      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="Email"
          >Email:
          <span
            class="text-danger"
            *ngIf="Email.invalid && (Email.dirty || Email.touched)"
          >
            <span class="text-danger" *ngIf="Email.errors?.required">
              This Field is required.
            </span>
            <span class="text-danger" *ngIf="Email.errors?.minlength">
              This Field must be at least 4 characters long.
            </span>
          </span></label
        >
        <input
          class="form-control"
          type="Email"
          id="Email"
          formControlName="Email"
        />
      </div>
    </div>
    <div class="row gx-1">
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="City"
          >City:
          <span
            class="text-danger"
            *ngIf="City.invalid && (City.dirty || City.touched)"
          >
            <span class="text-danger" *ngIf="City.errors?.required">
              This Field is required.
            </span>
          </span></label
        >
        <select
          class="form-control"
          name="my-select"
          (change)="selectChangeHandler($event)"
          formControlName="CityId"
        >
          <option value="" disabled selected hidden>Select City</option>
          <option [value]="item.Value" *ngFor="let item of cities">
            {{ item.Text }}
          </option>
        </select>
      </div>
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="Cnic"
          >Cnic#
          <span
            class="text-danger"
            *ngIf="Cnic.invalid && (Cnic.dirty || Cnic.touched)"
          >
            <span class="text-danger" *ngIf="Cnic.errors?.required">
              This Field is required.
            </span>
            <span class="text-danger" *ngIf="Cnic.errors?.minlength">
              This Field must be valid.
            </span>
          </span></label
        >
        <!-- <input
          class="form-control"
          type="file"
          (change)="onFileChange($event)"
        /> -->
        <!-- <ngx-file-upload formControlName="file"></ngx-file-upload> -->
        <input
          type="text"
          name=""
          formControlName="Cnic"
          id="Cnic"
          class="form-control"
        />
      </div>
    </div>
    <div class="row gx-1">
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="Password"
          >Password:
          <span
            class="text-danger"
            *ngIf="Password.invalid && (Password.dirty || Password.touched)"
          >
            <span class="text-danger" *ngIf="Password.errors?.required">
              This Field is required.
            </span>
            <span *ngIf="Password.errors?.minlength">
              This Field must be at least 4 characters long.
            </span>
          </span></label
        >
        <input
          type="Password"
          name=""
          class="form-control"
          id="Password"
          formControlName="Password"
        />
      </div>
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="ConfirmPasswordword"
          >Confirm Password:
          <span
            class="text-danger"
            *ngIf="
              ConfirmPassword.invalid &&
              (ConfirmPassword.dirty || ConfirmPassword.touched)
            "
          >
            <span class="text-danger" *ngIf="ConfirmPassword.errors?.required">
              This Field is required.
            </span>
            <span *ngIf="ConfirmPassword.errors.mustMatch"
              >Passwords must match</span
            >
          </span></label
        >
        <input
          type="Password"
          name=""
          class="form-control"
          id="ConfirmPassword"
          formControlName="ConfirmPassword"
        />
      </div>
    </div>
    <div class="row gx-1 justify-content-center py-4">
      <div class="col-lg-8 col-md-6 col-xs-5">
        <button nbButton shape="semi-round" status="success" fullWidth>
          Register
        </button>
      </div>
    </div>
  </div>
</form>
