<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Edit profile</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="modal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="editProfile" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-8 offset-2">
        <div class="form-group">
          <label for="">Sr No.</label>
          <input class="form-control" formControlName="SrNo" type="text" id="">
        </div>
      </div>
      <div class="col-md-8 offset-2">
        <div class="form-group">
          <label for="">Shipper Name</label>
          <input class="form-control" type="text" formControlName="ShipperName"  id="">
        </div>
      </div>
      <div class="col-md-8 offset-2">
        <div class="form-group">
          <label for="">Shipper Phone</label>
          <input class="form-control" formControlName="ShipperPhone" type="text"  id="">
        </div>
      </div>
      <div class="col-md-8 offset-2">
        <div class="form-group">
          <label for="">Shipper Email</label>
          <input class="form-control" formControlName="ShipperEmail" type="text"  id="">
        </div>
      </div>
      <div class="col-md-8 offset-2">
        <div class="form-group">
          <label for="">Shipper Address</label>
          <input class="form-control" formControlName="ShipperAddress" type="text"  id="">
        </div>
      </div>
    </div>
  </form>

</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="modal.close('Save click')"
  >
    Save
  </button>
</div>
<!--
<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button> -->

<!-- <hr> -->

<!-- <pre>{{ closeResult }}</pre> -->
