<form action="">
<div class="row">
  <div class="col-sm-2 side_gapps left_right_none" style="margin-top: 28.5px;">
               <div class="row">
      <a nbButton  status= "primary" target="_blank" style="margin-left: 0;margin-bottom: 10px;"  >Booking Sheet</a>
  </div>
            </div>
  <div class="col-sm-2 side_gapps left_right_none">
  <div class="form-group">
    <label>Status</label>
   <nb-select placeholder="Select Status" fullWidth>
      <nb-option selected="" disabled="">Select Status</nb-option>
      <nb-option value="booked">Booked</nb-option>
      <nb-option value="received">Received</nb-option>

      <nb-option value="dispatch">Dispatched</nb-option>
      <nb-option value="assigned">Assigned to Courier</nb-option>
      <nb-option value="pending">Pending</nb-option>
      <nb-option value="delivered">Delivered</nb-option>
      <nb-option value="returned">Returned</nb-option>
      <nb-option value="cancelled">Cancelled / Not Received</nb-option>
    </nb-select>
  </div>
</div>
<div class="col-sm-2 side_gapps left_right_none">
  <div class="form-group">
    <label>From</label>
    <input
              nbInput
              placeholder="Select Starting Date"
              [nbDatepicker]="datepickerstarting"
              class="form-control"
            />
            <nb-datepicker #datepickerstarting></nb-datepicker>
  </div>
</div>
<div class="col-sm-2 side_gapps left_right_none">
  <div class="form-group">
    <label>To</label>
    <input
    nbInput
    placeholder="Select Ending Date"
    [nbDatepicker]="datepickerending"
    class="form-control"
  />
  <nb-datepicker #datepickerending></nb-datepicker>
  </div>
</div>
<div class="col-sm-1 side_gapps left_right_none">
  <button type="submit" nbButton status="info" style="margin-top: 25px;" >Submit</button>
</div>
</div>
</form>
<div class="row" style="margin-bottom: 24px;">
  <div class="col-sm-12 excel_btn">
    <a style="margin-top:24px;" nbButton status="success">Generate Excel</a>
    <a style="margin-top:24px;display: none;" class="download_excelsss btn btn-info" href="../../../../../excel/excel_file.xlsx" download="">Download Excel</a>

  </div>
</div>
