<nb-card status="primary">
  <nb-card-header>Couriers List</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-2 offset-md-9 col-sm-2 offset-sm-8 col-xs-2">
        <button nbButton (click)="AddBtn()" status="primary">
          Add New Courier
        </button>
      </div>

      <div class="col-md-12 mt-2">
        <!-- <button nbButton status="primary" hero (click)="exportTable()">
        Export
      </button> -->
        <h6>Export As:</h6>
        <nb-button-group status="info">
          <button nbButton (click)="exportTable()">Excel</button>
          <button nbButton (click)="generatePDF()">PDF</button>
        </nb-button-group>
        <br />
        <div class="float-right mt-2">
          <div class="form-group">
            <input
              type="text"
              nbInput
              [(ngModel)]="searchVal"
              name="search"
              placeholder="Search"
              (keyup)="SearchFunction()"
              id="searchbox"
            />
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <table #pdfTable id="ExampleTable" class="table table-bordered hover">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Name</th>

              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">CNIC</th>
              <th scope="col">License No.</th>
              <th scope="col">Date of Birth</th>
              <th scope="col">Picture</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="empList.length < 1">
              <td class="text-center" colspan="8">
                <Strong>No Entry Found!</Strong>
              </td>
            </tr>
            <tr
              class="text-center"
              scope="row"
              *ngFor="
                let item of empList
                  | paginate: { itemsPerPage: 10, currentPage: p }
              "
            >
              <td>{{ item.EmployeeName }}</td>
              <td>{{ item.Email }}</td>
              <td>{{ item.Mobile1 }}</td>
              <td>{{ item.CNIC }}</td>
              <td>{{ item.LicenseNo }}</td>
              <td>
                {{ item.DOB.substring(0, item.DOB.indexOf("T")) }}
              </td>
              <td>
                <a
                  (click)="
                    openImage(item.EmployeePictureString, item.EmployeeName)
                  "
                  ><img
                    [src]="item.EmployeePictureString"
                    alt=""
                    height="100"
                    width="50"
                /></a>
              </td>

              <td class="py-5">
                <a (click)="editBtn(item)"
                  ><nb-icon icon="edit-2-outline"></nb-icon
                ></a>

                <a (click)="deleteBtn(item)"
                  ><nb-icon icon="trash-2-outline"></nb-icon
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </nb-card-body>
</nb-card>
