<!-- <ngx-register id="registermodal"></ngx-register> -->
<header id="home"
  class="py-5"
  style="
    background: url('../../../assets/images/delivery.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
  "
>
  <div
    class="container px-5"
    style="background-color: rgba(128, 128, 128, 0.438)"
  >
    <div class="row gx-5 align-items-center justify-content-center">
      <div class="col-lg-8 col-xl-7 col-xxl-6">
        <div class="my-5 text-center text-xl-start">
          <h1 class="display-5 fw-bolder text-white mb-2">
            Pace Courier Brings Best Shipment Offers
          </h1>
          <p class="lead fw-normal text-white h6 mb-4">
            Now send anything at any time, all over Pakistan exclusively on
            pacecourierservice.com
          </p>
          <div
            class="
              d-grid
              gap-3
              d-sm-flex
              justify-content-sm-center justify-content-xl-start
            "
          >
            <a
              class="
                btn btn-primary
                text-white text-decoration-none
                btn-lg
                px-4
                me-sm-3
              "
              href="#features"
              >Get Started</a
            >
            <a
              class="
                btn btn-outline-light btn-lg
                px-4
                text-white text-decoration-none
              "
              href="#!"
              >Learn More</a
            >
          </div>
        </div>
      </div>
      <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
        <img
          class="img-fluid rounded-3 my-5"
          src="../../../assets/images/bg5.jpg"
          alt="..."
        />
      </div>
    </div>
  </div>
</header>
<!-- Features section-->

<!-- Company Aims -->
<section class="py-5 bg-light" id="scroll-target">
  <div class="container my-5">
    <div class="row gx-7 align-items-center">
      <div class="col-lg-6">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="../../../assets/images/info-banner-img.jpg"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <h2 class="fw-bolder mb-3">Our Aim</h2>
        <p class="lead fw-normal text-muted mb-0">
          Pace Courier Service aims to serve its customers by providing the best
          delivery service.
          <br />
          <br />
          As industry developed in Pakistan, and more raw materials and other
          products were to be dispatched all over Pakistan, the need for a
          courier service grew, and Pace Courier Service found itself fulfilling
          a more significant need-helping local industry grow. Pace Courier
          Service employees have been trained and placed to help clients find
          services that best fulfill their needs.
          <br />
          <br />
          We have the largest network in terms of destinations, reaching remote
          Pakistani areas that no other courier service reaches.
          <br />
          <br />
          The distribution network is designed in such a way so that mail from
          all over Pakistan is distributed the very next day except for a few
          areas/stations mentioned in our Station List, where local
          underdevelopment of resources has not made this possible, and where
          many courier services do not offer delivery. However, our dream is to
          connect all Pakistanis, whether they live in under-developed villages
          or large metropolitan cities, and we deliver everywhere.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Company Aims -->
<!-- How we Work Section -->
<section class="py-5">
  <div class="container my-5">
    <div class="row gx-7 align-items-center">
      <div class="col-lg-6 order-first order-lg-last">
        <img
          class="img-fluid rounded mb-5 mb-lg-0"
          src="../../../assets/images/How-we-work-img.png"
          alt="..."
        />
      </div>
      <div class="col-lg-6">
        <h2 class="fw-bolder mb-3">How We Work</h2>
        <p class="lead fw-normal text-muted mb-0">
          The courier is sorted and dispatched for all destinations. As a
          result, we have vast networks in terms of goals. <br /><br />
          Over time, Pace Courier Service has added various products and
          services as a mode of convenience for clients, cheaper delivery of
          non-urgent products, Pace Courier Service flyer for documents and
          other official documents that are delivered sealed and other services.
          The Pace courier service is offering cheaper rates for a slightly
          delayed delivery, and the Giftwifts gift service.
          <br /><br />
          The Pace Courier Service Team is always when it comes to solving
          logistic and courier issues with new products, and continue to come up
          with new and innovative products, which help our company and employees
          grow.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- How we Work Section -->
<!-- About -->
<ngx-about></ngx-about>
<!-- About -->
<!-- tracking -->
<ngx-tracking></ngx-tracking>
<!-- tracking -->
<!-- Contact-US -->
<ngx-contact></ngx-contact>
<!-- Contact-US -->
<!-- Logo Panel -->

  <div class="container-fluid px-5 bg-white rounded-3">
    <div class="row gx-5 row-cols-2 row-cols-lg-3 py-5">
      <div class="col">
          <div class="feature-2 ml-5 bg-white bg-gradient text-white rounded-3 mb-3"><img class="logo-tray" src="../../../assets/images/logoCod.png" alt=""></div>
          <div class="h5 mb-2">Fastest Cash-on Delivery</div>
          <p class="text-muted mb-0">Best Cash-on Delivery Service</p>
      </div>
      <div class="col">
          <div class="feature-2 ml-5 align-content-center bg-white  bg-gradient text-white rounded-3 mb-3"><img class="logo-tray" src="../../../assets/images/logogift.png" alt=""></div>
          <div class="h5">Gift Service</div>
          <p class="text-muted mb-0">Send gifts to your loved ones</p>
      </div>
      <div class="col ">
          <div class="feature-2 ml-5 bg-white bg-gradient text-white rounded-3 mb-3"><img class="logo-tray" src="../../../assets/images/logo5.png" alt=""></div>
          <div class="h5">Overnight-Delivery</div>
          <p class="text-muted mb-0 ">Send your packages within a day with <br> Pace Overnight Delivery.</p>
      </div>

  </div>
  </div>

<!-- Logo Panel -->
<!-- Email Newsletter-->
<section class="py-5">
  <div class="container px-5">


    <!-- Call to action-->
    <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
      <div
        class="
          d-flex
          align-items-center
          justify-content-between
          flex-column flex-xl-row
          text-center text-xl-start
        "
      >
        <div class="mb-4 mb-xl-0">
          <div class="fs-3 fw-bold text-white">
            New products, delivered to you.
          </div>
          <div class="text-white-50">
            Sign up for our newsletter for the latest updates.
          </div>
        </div>
        <div class="ms-xl-4">
          <div class="input-group mb-2">
            <input
              class="form-control"
              type="text"
              placeholder="Email address..."
              aria-label="Email address..."
              aria-describedby="button-newsletter"
            />
            <button
              class="btn btn-outline-light"
              id="button-newsletter"
              type="button"

            >
              Sign up
            </button>
          </div>
          <div class="small text-white-50">
            We care about privacy, and will never share your data.
          </div>
        </div>
      </div>
    </aside>
  </div>
</section>

