<div class="row">
  <div class="col-md-6">
    <div class="card-counter primary">
      <i class="fa fa-paper-plane"></i>
      <span class="count-numbers">12</span>
      <span class="count-name">Booked Orders</span>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card-counter danger">
      <i class="fa fa-tags"></i>
      <span class="count-numbers">599</span>
      <span class="count-name">Pending Orders</span>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card-counter success">
      <i class="fa fa-check-circle"></i>
      <span class="count-numbers">6875</span>
      <span class="count-name">Received For <br> Lahore</span>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card-counter info">
      <i class="fa fa-check-circle"></i>
      <span class="count-numbers">35</span>
      <span class="count-name">Received for <br>Outstations</span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card-counter primary">
      <i class="fa fa-cloud-upload-alt"></i>
      <span class="count-numbers">12</span>
      <span class="count-name">Cancelled Orders</span>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card-counter danger">
      <i class="fa fa-paperclip"></i>
      <span class="count-numbers">599</span>
      <span class="count-name">Dispatched Orders</span>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card-counter success">
      <i class="fa fa-retweet "></i>
      <span class="count-numbers">6875</span>
      <span class="count-name">Assigned Orders</span>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card-counter info">
      <i class="fa fa-share transit"></i>
      <span class="count-numbers">35</span>
      <span class="count-name">Delivered</span>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card-counter primary">
      <i class="fa fa-flag transit"></i>
      <span class="count-numbers">12</span>
      <span class="count-name">Returned</span>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card-counter danger">
      <i class="fa fa-shopping-cart"></i>
      <span class="count-numbers">599</span>
      <span class="count-name">Total Orders</span>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card-counter success">
      <i class="fa fa-user"></i>
      <span class="count-numbers">6875</span>
      <span class="count-name">Total Customers</span>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card-counter info">
      <i class="fa fa-users"></i>
      <span class="count-numbers">35</span>
      <span class="count-name">Total Drivers</span>
    </div>
  </div>
</div>
