<div class="header-container">
  <div class="logo-container">
    <a href=""><img class="logo" src="assets\images\happ1.png" alt="Pace Courier Service" width="200px"></a>
  </div>
</div>
<div class="header-container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="mr-2">
    <button nbButton status="primary" shape="semi-round">Login</button>
  </div>
  <div class="">
    <button nbButton status="success" shape="semi-round">Register</button>
  </div>
</div>
