<nav class="navbar navbar-expand-lg navbar-light bg-white w-100">
  <div class="container w-100 px-5">
    <a class="navbar-brand" href="index.html">Start Bootstrap</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse"
      [ngbCollapse]="isMenuCollapsed"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true; scrollToHome()"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true;scrollToAbout()">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true;scrollToTracking()">Tracking</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="isMenuCollapsed = true;scrollToContact()">Contact-Us</a>
        </li>

        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownBlog"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Blog</a
          >
          <ul
            class="dropdown-menu dropdown-menu-end"
            aria-labelledby="navbarDropdownBlog"
          >
            <li>
              <a class="dropdown-item" href="blog-home.html">Blog Home</a>
            </li>
            <li>
              <a class="dropdown-item" href="blog-post.html">Blog Post</a>
            </li>
          </ul>
        </li>-->
        <li class="nav-item">
          <button nbButton status="primary" shape="semi-round"  >Login</button>
        </li>

        <li class="nav-item">
          <button nbButton status="success" shape="semi-round" (click)="OpenRegisterModal()">Register</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- Registration Modal Template -->
<ng-template #register let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Register</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="profileForm">
      <div class="form-group">
        <div class="row gx-1">
          <div class="col-lg-6 col-md-10 col-xs-8">
            <label class="label label-info" for="cname">Customer Name:</label>
            <input
              class="form-control"
              type="text"
              id="cname"
              formControlName="cname"
            />
          </div>
          <div class="col-lg-6 col-md-10 col-xs-8">
            <label class="label label-info" for="buname">Business-Name:</label>
            <input
              class="form-control"
              type="text"
              id="buname"
              formControlName="buname"
            />
          </div>
        </div>
        <div class="row gx-1">
          <div class="col-lg-6 col-md-10 col-xs-8">
            <label class="label label-info" for="baname">Bank Name:</label>
            <input
              class="form-control"
              type="text"
              id="baname"
              formControlName="baname"
            />
          </div>
          <div class="col-lg-6 col-md-10 col-xs-8">
            <label class="label label-info" for="accnum">Account-Number:</label>
            <input
              class="form-control"
              type="number"
              id="accnum"
              formControlName="accnum"
            />
          </div>
        </div>
        <div class="row gx-1">
          <div class="col-lg-6 col-md-10 col-xs-8">
            <label class="label label-info" for="mnumber">Mobile-Number#</label>
            <input
              class="form-control"
              type="number"
              id="mnumber"
              formControlName="mnumber"
            />
          </div>
          <div class="col-lg-6 col-md-10 col-xs-8">
            <label class="label label-info" for="email">Email:</label>
            <input
              class="form-control"
              type="email"
              id="email"
              formControlName="email"
            />
          </div>
        </div>
        <div class="row gx-1">
          <div class="col-lg-6 col-md-10 col-xs-8">
            <label class="label label-info" for="city">City:</label>
           <!-- City Drop Down -->
           <ngx-city></ngx-city>
           <!-- City Drop Down -->
          </div>
          <div class="col-lg-6 col-md-10 col-xs-8">
            <label class="label label-info" for="email">Email:</label>

          </div>
        </div>
      </div>

    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>
