<nb-card>
  <nb-card-header>Settings</nb-card-header>
<nb-card-body>
  <form action="">

  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <label for="">GST(%)</label>
        <input type="number" nbInput name="" id="">
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <div class="form-group">
        <button nbButton type="submit" hero status="primary">Save</button>
      </div>
    </div>
  </div>
</form>

</nb-card-body>
</nb-card>
