<div class="row">
  <div class="col-md-12">
    <h4>Request Details</h4>
    <form [formGroup]="requestFilters" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label >Select Destination</label>
            <nb-select fullWidth placeholder="Select City"
            formControlName="selectDestination">
              <nb-option value="KRC">Karachi</nb-option>
              <nb-option value="LHR">Lahore</nb-option>
              <nb-option value="PSH">Peshawar</nb-option>
              <nb-option value="QTA">Quetta</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Select Status</label>
            <nb-select fullWidth placeholder="Select Status"
            formControlName="selectStatus">
              <nb-option value="COMP">Completed</nb-option>
              <nb-option value="PROC">Processing</nb-option>
              <nb-option value="TRAN">In-transit</nb-option>
              <nb-option value="DLV">Delivering</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="form-group">
            <label for="">From</label>
            <input
              nbInput
              placeholder="Select Start Date"
              [nbDatepicker]="datepicker"
              formControlName="fromDate"
            />
            <nb-datepicker #datepicker></nb-datepicker>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="form-group">
            <label>To</label>
            <input
              nbInput
              placeholder="Select Ending Date"
              [nbDatepicker]="datepickerending"
              formControlName="toDate"

            />
            <nb-datepicker #datepickerending></nb-datepicker>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-sm-2">
          <div class="form-group">
            <input
              type="button"
              nbButton
              status="primary"
              name="printInvoices"
              value="Print Invoices"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <input
              type="submit"
              name="Submit"
              value="Submit"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12">
    <!-- <button nbButton status="primary" hero (click)="exportTable()">
        Export
      </button> -->
    <h6>Export As:</h6>
    <nb-button-group status="info">
      <button nbButton (click)="exportTable()">Excel</button>
      <button nbButton (click)="generatePDF()">PDF</button>
    </nb-button-group>
    <br />

    <table
      #pdfTable
      class="table table-sm mt-2 table-bordered"
      id="ExampleTable"
    >
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sr No.</th>
          <th scope="col">Order#</th>
          <th scope="col">Order Date</th>
          <th scope="col">Shipment Details</th>
          <th scope="col">Consignee Details</th>
          <th scope="col">Shipper Info</th>
          <th scope="col">Payments</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <!-- *ngFor="let item of list" -->
      <tr class="text-center" *ngFor="let item of list" scope="row">
        <td class="tiny-details">{{item.OrderBookingId}}</td>
        <td class="tiny-details">{{item.OrderBookingId}}</td>
        <td class="tiny-details">{{item.OrderBookingOn}}</td>
        <td class="tiny-details"> <strong>Product Code:</strong> {{item.ProductCode}} <br>
         <strong>Product Description:</strong> {{item.ProductDescription}} <br>

         <strong>Quantity:</strong> {{item.Quantity}} <br>
         <strong>Weight:</strong> {{item.WeightProfileId}}<br>
         <strong>CODAmount:</strong> {{item.CODAmount}}<br>
         <strong>Delivery Fee:</strong> {{item.DeliveryFee}}<br>


        </td>
        <td class="tiny-details" >
          <strong> Name:</strong> {{item.ConsigneeName}}<br>
          <strong> Mobile:</strong> {{item.ConsigneeMobile}}<br>
          <strong> Email:</strong> {{item.ConsigneeEmail}}<br>
          <strong> Address:</strong> {{item.ConsigneeAddress}}<br>
          <strong>City:</strong> {{item.DestinationCityId}}<br>

        </td>
        <td class="tiny-details">
          <strong>Name:</strong>{{item.ShipperName}}
          <strong> Mobile:</strong>{{item.ShipperMobile}}
          <strong>Email:</strong>{{item.ShipperEmail}}
          <strong>Address:</strong>{{item.ShipperAddress}}
        </td>

        <td class="tiny-details">
          <strong>CODAmount:</strong>{{item.CODAmount}}
          <strong>Delivery Fee:</strong>{{item.DeliveryFee}}
        </td>
        <td class="tiny-details">
          <strong>{{item.ReceivedStatus}}</strong>
        </td>

    </table>
  </div>
</div>
