<div class="row">
  <div class="col-md-12">
    <h4>Request Details</h4>
    <form [formGroup]="requestFilters" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-sm-2">
          <div class="form-group">
            <label >Select Destination</label>
            <nb-select
            fullWidth
            name="my-select"
            placeholder="Destination"
            formControlName="destinationCityId"
          >
            <!-- <nb-option value="" disabled selected hidden>Select City</
            nb-option> -->
            <nb-option [value]="item.Value" *ngFor="let item of CitiesLOV">
              {{ item.Text }}
            </nb-option>
          </nb-select>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <label>Select Status</label>
            <nb-select fullWidth placeholder="Select Status"
            formControlName="status">
              <nb-option value="COMP">Completed</nb-option>
              <nb-option value="PEND">Pending</nb-option>
              <nb-option value="PROC">Processing</nb-option>
              <nb-option value="TRAN">In-transit</nb-option>
              <nb-option value="DLV">Delivered</nb-option>
            </nb-select>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="form-group">
            <label for="">From</label>
            <input
              nbInput
              placeholder="Select Start Date"
              [nbDatepicker]="datepicker"
              formControlName="fromDate"
            />
            <nb-datepicker format="MM.dd.yyyy" #datepicker></nb-datepicker>
          </div>
        </div>
        <div class="col-md-2 col-sm-6">
          <div class="form-group">
            <label>To</label>
            <input
              nbInput
              placeholder="Select Ending Date"
              [nbDatepicker]="datepickerending"
              formControlName="toDate"

            />
            <nb-datepicker format="MM.dd.yyyy" #datepickerending></nb-datepicker>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-sm-2">
          <div class="form-group">
            <input
              type="button"
              nbButton
              status="primary"
              name="printInvoices"
              value="Print Invoices"
              class="form-control"
            />
          </div>
        </div>
        <div class="col-sm-2">
          <div class="form-group">
            <input
              type="submit"
              name="Submit"
              value="Submit"
              class="form-control"
            />
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="col-md-12">
    <!-- <button nbButton status="primary" hero (click)="exportTable()">
        Export
      </button> -->
    <h6>Export As:</h6>
    <nb-button-group status="info">
      <button nbButton (click)="exportTable()">Excel</button>
      <button nbButton (click)="generatePDF()">PDF</button>
    </nb-button-group>
    <br />

    <table
      #pdfTable
      class="table table-sm mt-2 table-bordered"
      id="ExampleTable"
    >
      <thead class="thead-dark">
        <tr>
          <th scope="col"><input type="checkbox"></th>
          <th scope="col">Sr No.</th>
          <th scope="col">Tracking#</th>
          <th scope="col">Order#</th>
          <th scope="col">Order Date</th>
          <th scope="col">Shipment Details</th>
          <th scope="col">Consignee Details</th>
          <th scope="col">Shipper Info</th>
          <th scope="col">Payments</th>
          <th scope="col">Status</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <!-- *ngFor="let item of list" -->
      <tr class="text-center" *ngFor="let item of Orders;" scope="row">
        <td><input type="checkbox" ></td>
        <td class="tiny-details-Black">{{serial + 1}}</td>
        <td class="tiny-details-Black"> <strong>{{item.OrderBookingId}}</strong></td>
        <td class="tiny-details-Black"><strong>{{item.OrderBookingId}}</strong></td>
        <td class="tiny-details-Black"><strong>{{item.OrderBookingOn}}</strong></td>
        <td class="tiny-details"> <strong>Product Code:</strong> {{item.ProductCode}} <br>
         <strong>Product Description:</strong> {{item.ProductDescription}} <br>

         <strong>Quantity:</strong> {{item.Quantity}} <br>
         <strong>Weight:</strong> {{item.WeightProfileId}}<br>
         <strong>CODAmount:</strong> {{item.CODAmount}}<br>
         <strong>Delivery Fee:</strong> {{item.DeliveryFee}}<br>


        </td>
        <td class="tiny-details" >
          <strong> Name:</strong> {{item.ConsigneeName}}<br>
          <strong> Mobile:</strong> {{item.ConsigneeMobile}}<br>
          <strong> Email:</strong> {{item.ConsigneeEmail}}<br>
          <strong> Address:</strong> {{item.ConsigneeAddress}}<br>
          <strong>City:</strong> {{item.DestinationCityName}} <br>


        </td>
        <td class="tiny-details">
          <strong>Name:</strong>{{item.ShipperName}} <br>
          <strong> Mobile:</strong>{{item.ShipperMobile}}<br>
          <strong>Email:</strong>{{item.ShipperEmail}} <br>
          <strong>Address:</strong>{{item.ShipperAddress}}<br>
          <strong>City:</strong>{{item.OriginCityName}}<br>
        </td>

        <td class="tiny-details">
          <strong>COD:</strong>{{item.CODAmount}} <br>
          <strong>Delivery Fee:</strong>{{item.DeliveryFee}}
        </td>
        <td class="tiny-details">
          <strong>{{item.ReceivedStatus}}</strong>
        </td>
        <td class="py-2">
          <a (click)="deleteBtn(item.ID)"><nb-icon icon="close"></nb-icon></a>
          <a (click)="editBtn(item)"><nb-icon icon="edit-2"></nb-icon></a>
          <a (click)="trackingBtn(item.OrderBookingId)"><nb-icon icon="car-outline"></nb-icon></a>
        </td>

    </table>
  </div>
</div>
