<section class="py-5 bg-white" id="about">
  <div class="container px-3 my-5">
    <div class="row gx-5 pb-5">
      <h4 class="text-center">About Us</h4>
    </div>
    <div class="row gx-3">
      <div class="col-lg-7 mb-5 mb-lg-0 d-none d-xl-block">
        <img
          class="img-fluid rounded-3"
          src="../../../assets/images/about_us_1.jpg"
          alt="..."
        />
      </div>

      <div class="col-lg-5">
        <div class="row gx-5 row-cols-1 row-cols-md-2">
          <div class="col-lg-12 mb-5 h-100">
            <p class="mb-0 lead">
              The distribution network is designed in such a way so that mail
              from all over Pakistan is distributed the very next day except for
              a few areas/stations mentioned in our Station List, where local
              underdevelopment of resources has not made this possible, and
              where many courier services do not offer delivery. However, our
              dream is to connect all Pakistanis, whether they live in
              under-developed villages or large metropolitan cities..
            </p>
          </div>
          <div class="col-lg-12">
            <div class="row gx-2 mb-5">
              <div class="col-lg-4">
                <div
                  class="
                    feature
                    bg-primary bg-gradient
                    text-white
                    rounded-3
                    mt-3
                    mb-3
                  "
                >
                  <i class="bi bi-truck"></i>
                </div>

                <span
                  ><h6 class="text-uppercase">Next-Day delivery</h6>
                  On Advance payment with Pace-Courier Service</span
                >
              </div>
              <div class="col-lg-4">
                <div
                  class="
                    feature
                    bg-primary bg-gradient
                    text-white
                    rounded-3
                    mt-3
                    mb-3
                  "
                >
                  <i class="bi bi-shield-check"></i>
                </div>

                <span
                  ><h6>FAST DELIVERY</h6>
                  Wherever you are, "We near to you."</span
                >
              </div>
              <div class="col-lg-4">
                <div
                  class="
                    feature
                    bg-primary bg-gradient
                    text-white
                    rounded-3
                    mt-3
                    mb-3
                  "
                >
                  <i class="bi bi-file-earmark-lock2"></i>
                </div>

                <span
                  ><h6 id="fastdelivery">FAST DELIVERY</h6>
                  Wherever you are, "We near to you."</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

