<div class="row">
  <div *ngIf="orderExists" class=" col-lg-8 offset-lg-2 col-md-12 col-sm-12 col-xs-12">
    <nb-flip-card [showToggleButton]="false" [flipped]="flipped">
      <nb-card-front>
        <nb-card status="primary" accent="success">
          <nb-card-header>
            {{ "Tracking#" + trackingID }}
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-md-2 col-sm-12 col-xs-12 offset-md-8 mb-2">
                <button nbButton status="secondary" (click)="toggleFlip()">
                  Tracking History
                  <nb-icon icon="archive-outline"></nb-icon>
                </button>
              </div>
              <div class="col-md-6">
                <nb-card>
                  <nb-card-header>Shipper Information</nb-card-header>
                  <nb-card-body>
                    <table class="table table-light">
                      <tr>
                        <th>Shipper Name</th>
                        <td>{{ orderToTrack.ShipperName }}</td>
                      </tr>
                      <tr>
                        <th>Origin</th>
                        <td>{{ orderToTrack.OriginCityName }}</td>
                      </tr>
                    </table>
                  </nb-card-body>
                </nb-card>
              </div>
              <div class="col-md-6">
                <nb-card>
                  <nb-card-header>Receiver Information</nb-card-header>
                  <nb-card-body>
                    <table class="table table-light">
                      <tr>
                        <th >Receiver Name</th>
                        <td>{{ orderToTrack.ConsigneeName }}</td>
                      </tr>
                      <tr>
                        <th>Origin</th>
                        <td>{{ orderToTrack.DestinationCityName }}</td>
                      </tr>
                    </table>
                  </nb-card-body>
                </nb-card>
              </div>
              <div class="col-md-12">
                <nb-card>
                  <nb-card-header> Latest Tracking Status </nb-card-header>
                  <nb-card-body>
                    <table class="table table-light">
                      <tr>
                        <th>Latest Status</th>
                        <td>{{ orderToTrack.StatusName }}</td>
                      </tr>
                      <tr>
                        <th>Dated</th>
                        <td>{{ orderTrackingDetails[0].CreatedOn |mask:"0000/M0/d0 Hh:m0:s0" }}</td>
                      </tr>
                    </table>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card status="success" accent="primary">
          <nb-card-header> Tracking History </nb-card-header>
          <nb-card-body>
            <table class="table table-light">
              <tr *ngFor="let item of orderTrackingDetails">
                <th>Status</th>
                <td>{{ item.StatusName }}</td>
                <th>{{ item.CreatedOn |mask:"0000/M0/d0 Hh:m0:s0" }}</th>

              </tr>
            </table>
          </nb-card-body>
          <nb-card-footer class="right-align">
            <button nbButton (click)="toggleFlip()">
              <nb-icon icon="arrow-back-outline"></nb-icon> Go back
            </button>
          </nb-card-footer>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>
  </div>

  <div *ngIf="!orderExists" class="col-md-8 offset-md-2 col-sm-10 col-xs-12">
    <nb-card>
      <nb-card-header> Sorry, Something went wrong! </nb-card-header>
      <nb-card-body>
        <h6>Order Not Found!, Please enter a valid tracking#</h6>
      </nb-card-body>
      <nb-card-footer>
        <input
          nbInput
          fullWidth
          type="text"
          placeholder="Enter a Valid Tracking#"
          [(ngModel)]="enterTrackingID"
        />
        <div class="row">
          <div class="col-md-2 offset-md-5 col-sm-12 col-xs-12">
            <button nbButton (click)="trackOrder()" status="secondary" class="mt-2">Track Order</button>
          </div>
        </div>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
