<nb-card status="primary">
  <nb-card-header>Pending Customers</nb-card-header>
  <nb-card-body>
    <div class="row">
      <div class="col-md-12">

      </div>

      <div class="col-md-12">
        <!-- <button nbButton status="primary" hero (click)="exportTable()">
        Export
      </button> -->
        <h6>Export As:</h6>
        <nb-button-group status="info">
          <button nbButton (click)="exportTable()">Excel</button>
          <button nbButton (click)="generatePDF()">PDF</button>
        </nb-button-group>
        <br />
        <!-- <div class="float-right">
          <div class="form-group">

            <input
              type="text"
              nbInput
              [(ngModel)]="searchVal"
              name="search"
              placeholder="Search"
              (keyup)="SearchFunction()"
              id="searchbox"
            />
          </div>
        </div> -->

        <table
          #pdfTable
          class="row-border table table-sm mt-2 table-bordered hover"
          id="ExampleTable"
        >
          <thead class="thead-dark">
            <tr>
              <th scope="col">UserID</th>
              <th scope="col">Business Name</th>
              <th scope="col">Party Location Name<i class="fa fa-sort"></i></th>
              <th scope="col">Address Detail</th>
              <th scope="col">Party Location Id</th>
              <th scope="col">User Name</th>
              <th scope="col">Login Name</th>

              <th scope="col">Active</th>
              <th scope="col">Created On</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngIf="userList.length < 1">
              <td class="text-center" colspan="10">
                <Strong>No Entry Found!</Strong>
              </td>
            </tr>
            <tr
              class="text-center"
              scope="row"
              *ngFor="
                let item of userList
                  | paginate: { itemsPerPage: 10, currentPage: p }
              "
            >
              <td class="py-2 id">{{ item.UserId }}</td>
              <td class="py-2">{{ item.BusinessName }}</td>
              <td class="py-2">{{ item.PartyLocationName }}</td>
              <td class="py-2">
                <strong>Address Detail: </strong>{{ item.AddressDetail }} <br />
                {{ item.CityName }}, {{ item.ProvinceName }}, {{
                  item.CountryName
                }}
              </td>
              <td class="py-2">{{ item.PartyLocationId }}</td>
              <td class="py-2">{{ item.UserName }}</td>
              <td class="py-2">{{ item.LoginName }}</td>
              <td class="py-2">
                <!-- <input
                  [nbSpinner]="checkBoxSpinner"
                  nbSpinnerStatus="danger"
                  nbSpinnerSize="small"
                  nbSpinnerMessage=""
                  type="checkbox"
                  (change)="changeActiveStatus(item)"
                  [checked]="item.IsActive"
                  Class="form-check-input"
                /> -->
                <nb-checkbox
                [checked]="item.IsActive"
                (change)="changeActiveStatus(item)"
              ></nb-checkbox>
              </td>
              <td class="py-2">{{ item.CreatedOn }}</td>
              <td class="py-2">

                <a (click)="editBtn(item)"
                  ><nb-icon icon="car-outline"></nb-icon
                ></a>
                <a (click)="deleteBtn(item)"
                  ><nb-icon icon="trash-2-outline"></nb-icon
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </nb-card-body>
</nb-card>
