<!-- Footer -->

<!-- Footer Links -->
<div class="container-fluid text-center text-md-left hidden-xs" id="footer">
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-3 mt-md-0 mt-3">
      <!-- Content -->
      <img
        class="logo"
        src="assets\images\happ1.png"
        alt="Pace Courier Service"
        width="150px"
      />

    </div>
    <!-- Grid column -->

    <hr class="clearfix w-100 d-md-none pb-3" />

    <!-- Grid column -->
    <div class="col-md-3 mb-md-0 mb-3">
      <!-- Links -->
      <h5 class="">Quick Links</h5>

      <ul class="list-unstyled">
        <li>
          <a href="#!"class="li" [routerLink]="['/user']">Home</a>
        </li>
        <li class="mt-2 ">
          <a href="#!"class="li" [routerLink]="['/user/about']">About</a>
        </li>
        <li class="mt-2 ">
          <a href="#!" class="li" [routerLink]="['/user/contact']">Contact</a>
        </li>

      </ul>
    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 mb-md-0 mb-3">
      <!-- Links -->
      <h5 class="">Important Links</h5>

      <ul class="list-unstyled">
        <li >
          <a href="#!"class="li" [routerLink]="['/user/tracking']">Tracking</a>
        </li>
        <li class="mt-2">
          <a [routerLink]="['/user/privacy']" routerLinkActive="router-link-active" class="li"  href="#!" >Privacy Policy</a>
        </li>
        <li class="mt-2">
          <a href="#!" class="li" [routerLink]="['/user/terms']">Terms & Conditions</a>
        </li>

      </ul>
    </div>

    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-3 mb-md-0 mb-3">
      <!-- Address and Info Column -->
      <h6 class="">Get In Touch</h6>
      <p class="futur-web"><b>Address:</b> 3rd Floor, Kamal Tower, 242 Allama Iqbal Road, Dharampura Lahore.</p>
      <!-- <ul class="list-unstyled">
        <li>
          <a href="#!">Link 1</a>
        </li>
        <li>
          <a href="#!">Link 2</a>
        </li>
        <li>
          <a href="#!">Link 3</a>
        </li>
        <li>
          <a href="#!">Link 4</a>
        </li>
      </ul> -->
      <p><a href="tel:+033-300-306-58" style="text-decoration: none; color: black;"><b>Contact Us:</b> 033-300-306-58</a></p>

      <p><a class="email-head" href="mailto:info@vitalsg.com" style="text-decoration: none; color: black;"><b>Email:</b> info@pacecourierservice.com</a></p>
    </div>


    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</div>
<!-- Footer Links -->

<!-- Copyright -->

<!-- <div class="text-center py-3">
  © 2020 Copyright:
  <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
</div> -->

<!-- Copyright -->

<!-- Footer -->
