<nb-card>
  <nb-card-header>
    Change Password
  </nb-card-header>
  <nb-card-body>
    <form [formGroup]="changePassword">
      <div class="row">
        <div class="col-md-8 offset-2">
          <div class="form-group">
            <label class="mr-2" for="">Old Password: </label>
            <input  nbInput formControlName="oldPassword"
            type="password" name="" id="">
          </div>
        </div>
        <div class="col-md-8 offset-2">
          <div class="form-group">
            <label class="mr-2" for="">New Password: </label>
            <input nbInput formControlName="newPassword" type="password" name="" id="">
          </div>
        </div>
        <div class="col-md-8 offset-2">
          <div class="form-group">
            <label class="mr-2" for="">Confirm Password:</label>
            <input nbInput formControlName="confirmPassword" type="password" name="" id="">
          </div>
        </div>
        <div class="col-md-3 offset-9">
          <button nbButton status="primary" >Change Password</button>
        </div>
      </div>
    </form>
  </nb-card-body>
</nb-card>
