<div class="row">
  <div class="col-md-12">
    <div
      class="container-fluid"
      style="
        background-image: url('../../../assets/images/package_tracking.jpg');
      "
    >
      <div class="col-md-6 offset-3 py-5">
        <form
          #TrackingForm="ngForm"
          (ngSubmit)="TrackingForm.valid && onSubmit()"
        >
          <nb-card size="medium" status="primary" style="height: 300px">
            <nb-card-header> Track Your Deliveries </nb-card-header>
            <nb-card-body>
              <div class="row">
                <div class="col-md-12 pt-3">
                  <h6>Track your Packages Here</h6>
                  <p>Track upto 10 numbers at a time, Separated by comma (,)</p>
                </div>
                <div class="col-md-12">
                  <input
                    nbInput
                    fullWidth
                    status="info"
                    type="text"
                    name="trackingNo"
                    id="trackingNo"
                    required
                    (keydown.enter)="trackingBtn()"
                    minlength="10"
                    mask="00000-00000"
                    [(ngModel)]="trackingNo"
                    #TrackingNo="ngModel"
                    placeholder="Enter Tracking number"
                  />
                  <span
                    *ngIf="TrackingNo.dirty || TrackingNo.touched"
                    class="alert text-danger"
                  >
                    <span *ngIf="TrackingNo.errors?.required"
                      >Tracking No Is Required</span
                    >
                    <span *ngIf="TrackingNo.errors?.minlength"
                      >Tracking No must be standard format 10 digits</span
                    >
                  </span>
                </div>
                <div class="col-md-12 py-3">
                  <button
                    nbButton
                    fullWidth
                    shape="semi-round"
                    (click)="trackingBtn()"
                    status="info"
                  >
                    Track Packages
                  </button>
                </div>
              </div>
            </nb-card-body>
          </nb-card>
        </form>
      </div>
    </div>
  </div>
</div>
