<nb-card status="primary">
  <nb-card-header> Finance Management </nb-card-header>
  <nb-card-body>
    <div class="row">
      <div
        class="col-md-2 col-lg-1 col-sm-4 col-xs-8 offset-lg-9 offset-md-9 offset-md-10"
      >
        <button
          nbButton
          [disabled]="!LoadFlag"
          (click)="AddBtn()"
          status="primary"
        >
          Add Financial Account
        </button>
      </div>

      <div class="col-md-12 col-sm-12 col-xs-12">
        <!-- <button nbButton status="primary" hero (click)="exportTable()">
            Export
          </button> -->
        <h6>Export As:</h6>
        <nb-button-group status="info">
          <button nbButton (click)="exportTable()">Excel</button>
          <button nbButton (click)="generatePDF()">PDF</button>
        </nb-button-group>
        <br />
        <div class="float-right">
          <div class="form-group">
            <input
              type="text"
              nbInput
              [(ngModel)]="searchVal"
              name="search"
              placeholder="Search"
              (keyup)="SearchFunction()"
              id="searchbox"
            />
          </div>
        </div>
      </div>
      <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12">
        <table #pdfTable class="table table-hover" id="ExampleTable">
          <thead class="thead-dark">
            <tr>
              <th>Account-Code</th>
              <th>Account Type</th>
              <th>AccountId</th>
              <th>AccountName</th>
              <th>ACcount Prefix</th>
              <th>Organization ID</th>
              <!-- <th>SubControlAccountId</th> -->
              <th>Account Sub Type</th>
              <th>Sub Control Account</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="financialAccountList.length < 1">
              <td class="text-center" colspan="8">
                <Strong>No Entry Found!</Strong>
              </td>
            </tr>
            <tr
              class="text-center"
              scope="row"
              *ngFor="
                let item of financialAccountList
                  | orderBy: key:reverse
                  | paginate: { itemsPerPage: 10, currentPage: p }
              "
            >
              <td class="py-2 id">{{ item.AccountCode }}</td>
              <td class="py-2 id">{{ item.AccountTypeName }}</td>
              <td class="py-2">{{ item.AccountId }}</td>
              <td class="py-2">{{ item.AccountName }}</td>
              <td class="py-2">{{ item.AccountPrefix }}</td>
              <td class="py-2">{{ item.OrginizationId }}</td>
              <td class="py-2">{{ item.AccountSubTypeName }}</td>
              <td class="py-2">{{ item.SubControlAccountName }}</td>
              <td class="py-2">
                <a (click)="deleteBtn(item.ID)"
                  ><nb-icon icon="eye-outline"></nb-icon
                ></a>
                <a *ngIf="LoadFlag" (click)="editBtn(item)"
                  ><nb-icon icon="edit-2"></nb-icon
                ></a>
              </td>
            </tr>
          </tbody>
        </table>

        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </div>
    </div>
  </nb-card-body>
</nb-card>
