<div class="row gx-5 pb-5">
  <h4 class="text-center">Edit Account Info</h4>
</div>
<form [formGroup]="profileEditForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <div class="row gx-1">
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="CustomerName">Customer Name:</label>
        <input
          nbInput
          fullWidth
          type="text"
          id="CustomerName"
          formControlName="CustomerName"
        />
        <span
          class="alert text-danger"
          *ngIf="CustomerName.invalid && (CustomerName.dirty || CustomerName.touched)"
        >
          <span class="alert text-danger" *ngIf="CustomerName.errors?.required">
            CustomerName is required.
          </span>
          <span *ngIf="CustomerName.errors?.minlength">
            CustomerName must be at least 4 characters long.
          </span>
          <span *ngIf="CustomerName.errors?.forbiddenName">
            CustomerName cannot be Bob.
          </span>
        </span>
      </div>
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="BusinessName">Business-Name:</label>
        <input
          nbInput
          fullWidth
          type="text"
          id="BusinessName"
          formControlName="BusinessName"
        />
        <span
          class="alert text-danger"
          *ngIf="BusinessName.invalid && (BusinessName.dirty || BusinessName.touched)"
        >
          <span class="alert text-danger" *ngIf="BusinessName.errors?.required">
            Business-Name is required.
          </span>
          <span *ngIf="BusinessName.errors?.minlength">
            Business-Name must be at least 4 characters long.
          </span>
          <span *ngIf="BusinessName.errors?.forbiddenName">
            Business-Name cannot be Bob.
          </span>
        </span>
      </div>
    </div>
    <div class="row gx-1">
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="BankName">Bank Name:</label>
        <input
          nbInput
          fullWidth
          type="text"
          id="BankName"
          formControlName="BankName"
        />
        <span
          class="alert text-danger"
          *ngIf="BankName.invalid && (BankName.dirty || BankName.touched)"
        >
          <span class="alert text-danger" *ngIf="BankName.errors?.required">
            Bank Name is required.
          </span>
          <span *ngIf="BankName.errors?.minlength">
            Bank Name must be at least 4 characters long.
          </span>
          <span *ngIf="BankName.errors?.forbiddenName">
            Bank Name cannot be Bob.
          </span>
        </span>
      </div>
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="AccountNumber">Account-Number:</label>
        <input
          nbInput
          fullWidth
          type="number"
          id="AccountNumber"
          formControlName="AccountNumber"
        />
        <span
          class="alert text-danger"
          *ngIf="AccountNumber.invalid && (AccountNumber.dirty || AccountNumber.touched)"
        >
          <span class="alert text-danger" *ngIf="AccountNumber.errors?.required">
            Account-Number is required.
          </span>
          <span *ngIf="AccountNumber.errors?.minlength">
            Account-Number must be at least 4 characters long.
          </span>
          <span *ngIf="AccountNumber.errors?.forbiddenName">
            Account-Number cannot be Bob.
          </span>
        </span>
      </div>
    </div>
    <div class="row gx-1">
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="MobileNo">Mobile-Number#</label>
        <input
          nbInput
          fullWidth
          type="number"
          id="MobileNo"
          formControlName="MobileNo"
        />
        <span
          class="alert text-danger"
          *ngIf="MobileNo.invalid && (MobileNo.dirty || MobileNo.touched)"
        >
          <span class="alert text-danger" *ngIf="MobileNo.errors?.required">
            Mobile-Number is required.
          </span>
          <span class="alert text-danger" *ngIf="MobileNo.errors?.minlength">
            Mobile-Number must be at least 11 characters long.
          </span>
        </span>
      </div>

      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="Email">Email:</label>
        <input
          nbInput
          fullWidth
          type="Email"
          id="Email"
          formControlName="Email"
        />
        <span
          class="alert text-danger"
          *ngIf="Email.invalid && (Email.dirty || Email.touched)"
        >
          <span class="alert text-danger" *ngIf="Email.errors?.required">
            Email is required.
          </span>
          <span class="alert text-danger" *ngIf="Email.errors?.minlength">
            Email must be at least 4 characters long.
          </span>
        </span>
      </div>
    </div>
    <div class="row gx-1">
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="CityId">CityId:</label>
        <select class="form-select" fullWidth name="CityId" formControlName="CityId">
          <option value="-1" selected disabled>Select CityId</option>
          <option [value]="item.Value" *ngFor="let item of citiesLOV">
            {{ item.Text }}
          </option>
        </select>
        <span
          class="alert text-danger"
          *ngIf="CityId.invalid && (CityId.dirty || CityId.touched)"
        >
          <span class="alert text-danger" *ngIf="CityId.errors?.required">
            CityId is required.
          </span>
        </span>
      </div>
      <div class="col-lg-6 col-md-10 col-xs-8 col-margin-fix">
        <label class="label label-info" for="Cnic">Cnic#</label>
        <!-- <input
          class="form-control"
          type="file"
          (change)="onFileChange($event)"
        /> -->
        <!-- <ngx-file-upload formControlName="file"></ngx-file-upload> -->
        <input
          type="text"
          name=""
          formControlName="Cnic"
          id="Cnic"
          nbInput
          fullWidth
        />
        <span
          class="alert text-danger"
          *ngIf="Cnic.invalid && (Cnic.dirty || Cnic.touched)"
        >
          <span class="alert text-danger" *ngIf="Cnic.errors?.required">
            Cnic# is required.
          </span>
          <span class="alert text-danger" *ngIf="Cnic.errors?.minlength">
            Cnic# must be valid.
          </span>
        </span>
      </div>
    </div>

    <div class="row gx-1 justify-content-center py-4">
      <div class="col-lg-8 col-md-6 col-xs-5">
        <button nbButton shape="semi-round" status="success" fullWidth>
          Save Changes
        </button>
      </div>
    </div>
  </div>
</form>
