<form #CityForm (ngSubmit)="CityForm.valid && addCity()">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add New City</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="">Select Country</label>
          <select
            class="form-control"
            name="my-select"
            (change)="loadProvinces()"
            [(ngModel)]="selectedCountryID"
            required
          >
            <!-- <nb-option value="" disabled selected hidden>Select City</
            nb-option> -->
            <option value="" [selected]="true">Select Country</option>
            <option [value]="item.Value" *ngFor="let item of countriesLOV">
              {{ item.Text }}
            </option>
          </select>
        </div>
      </div>
      <div [hidden]="!this.showProvinceField" class="col-md-12">
        <div class="form-group">
          <label for="">Select Province </label>
          <select
            class="form-control"
            name="my-select"
            placeholder="Select Province"
            (change)="loadCities()"
            [(ngModel)]="selectedProvinceID"
            required
          >
            <option value="" [selected]="true">Select Province</option>
            <option [value]="item.Value" *ngFor="let item of provincesLOV">
              {{ item.Text }}
            </option>
          </select>
        </div>
      </div>
      <div [hidden]="!this.showCityField" class="col-md-12">
        <div class="form-group">
          <div
            class="text-danger"
            *ngIf="cityName.invalid && (cityName.dirty || cityName.touched)"
          >
            <div *ngIf="cityName.errors?.required">City Name is required.</div>
          </div>
          <label for="">Add a new City</label>
          <input
            class="form-control"
            name="my-select"
            placeholder="Enter City Name"
            type="text"
            required
            #cityName="ngModel"
            [(ngModel)]="city.cityName"
          />
        </div>
      </div>
      <div [hidden]="!this.showCityField" class="col-md-12">
        <div class="form-group">
          <div
            class="text-danger"
            *ngIf="cityCode.invalid && (cityCode.dirty || cityCode.touched)"
          >
            <div *ngIf="cityCode.errors?.required">City Code is required.</div>
            <div *ngIf="cityCode.errors?.minlength">
              City Code must be minimum 3 digits.
            </div>
          </div>
          <label for="">Enter City Code</label>
          <input
            class="form-control"
            name="citycode"
            required
            minlength="3"
            type="number"
            placeholder="Enter City Code Without initial 0"
            #cityCode="ngModel"
            required
            [(ngModel)]="city.cityCode"
          />
        </div>
      </div>
      <div [hidden]="!this.showCityField" class="col-md-12">
        <div class="form-group">
          <div
            class="text-danger"
            *ngIf="cityShort.invalid && (cityShort.dirty || cityShort.touched)"
          >
            <div *ngIf="cityShort.errors?.required">
              Short Name is required.
            </div>
            <div *ngIf="cityShort.errors?.minlength">
              Short Name must be minimum 3 Letters.
            </div>
          </div>
          <label for="">Enter ShortName For City</label>
          <input
            class="form-control"
            name="shortname"
            placeholder="ShortName"
            required
            type="text"
            minlength="3"
            #cityShort="ngModel"
            [(ngModel)]="city.cityShort"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button
      nbButton
      hero
      status="success"
      [nbSpinner]="spinner"
      nbSpinnerStatus="primary"
      type="submit"
      [disabled]="!CityForm.valid"
    >
      Add City
    </button>
  </div>
</form>
